.performance{
    padding: 50px 0;

    // &__title{
    //     margin-bottom:40px;
    // }

    &__list{
        display: flex;
        padding-top: 160px;
        justify-content: space-around;
        text-align: center;
        font-weight: 600;
    }

    &__item{
        position: relative;

        &--01::after{
            content: '';
            position: absolute;
            background-image: url(/source/img/01service.svg);
            background-repeat: no-repeat;
            background-size: 26px;
            width: 26px;
            height: 26px;
            top: -121px;
            right: 77px;
        }
        &--01::before{
            content: '';
            position: absolute;
            background-image: url(/source/img/direction-3.svg);
            background-repeat: no-repeat;
            background-size: 100px;
            width: 100px;
            height: 100px;
            top: -122px;
            right: -22px;
        }
        &--02::after{
            content: '';
            position: absolute;
            background-image: url(/source/img/02service.svg);
            background-repeat: no-repeat;
            background-size: 26px;
            width: 26px;
            height: 26px;
            top: -121px;
            right: 92px;
        }
        &--02::before{
            content: '';
            position: absolute;
            background-image: url(/source/img/direction-2.svg);
            background-repeat: no-repeat;
            background-size: 100px;
            width: 100px;
            height: 100px;
            top: -122px;
            right: -6px;
        }
        &--03::after{
            content: '';
            position: absolute;
            background-image: url(/source/img/03service.svg);
            background-repeat: no-repeat;
            background-size: 26px;
            width: 26px;
            height: 26px;
            top: -121px;
            right: 105px;
        }
        &--03::before{
            content: '';
            position: absolute;
            background-image: url(/source/img/perfomance3.svg);
            background-repeat: no-repeat;
            background-size: 100px;
            width: 100px;
            height: 100px;
            top: -122px;
            right: 3px;
        }
        &--04::after{
            content: '';
            position: absolute;
            background-image: url(/source/img/04service.svg);
            background-repeat: no-repeat;
            background-size: 26px;
            width: 26px;
            height: 26px;
            top: -121px;
            right: 89px;
        }
        &--04::before{
            content: '';
            position: absolute;
            background-image: url(/source/img/direction-1.svg);
            background-size: 182px;
             width: 182px;
            height: 182px;
            top: -132px;
            right: -56px;
        }
    }

    &__button{
        display: block;
        padding: 19px;
        width: 260px;
        font-size: 19px;
    }
}