.promo{
    padding-bottom: 50px;
    background-image: url(/img/promo-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.promo__wrapper{
    padding-top: 100px;
    background-image: url(/img/promo-sofa.png);
    background-repeat: no-repeat;
    background-size: 590px;
    // background-position: center right;
    background-position: 400px -45px;

    @media (max-width: $desktop-width){
        background-position: center right;
    }
    @media (max-width: $tablet-width){
        background-size: cover;
        background-position: center;
    }

}

.promo__title{
    font-size: 42px;
    line-height: 45px;
    font-weight: 700;
    &--orenge{
        background: url(/img/Line.svg);
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: bottom;
    }
}
.promo__text{
    padding: 20px 0px 0px 60px;
    position: relative;

    &::after{
        position: absolute;
        content: '';
        background-image: url(/img/Line.svg);
        left: 12px;
        bottom: 8px;
        height: 3px;
        width: 40px;
    }
}

.promo__list{
    padding: 50px 0;
    width: 400px;
    display: flex;
    justify-content: space-between;
    @media (max-width: $tablet-width){
        flex-wrap: wrap;
        width: 100%;
    }

}

.promo__item{
    position: relative;
    &--gerent{
        padding-left: 70px;

        &::after{
            position: absolute;
            content: '';
            background-image: url(/img/promo-cion-1.png);
            left: 7px;
            top: -24px;
            width: 62px;
            height: 50px;
        }
    }
    &--many{
        &::after{
            position: absolute;
            content: '';
            background-image: url(/img/promo-cion-2.png);
            left: -65px;
            top: -40px;
            width: 58px;
            height: 70px;
        }
    }
}
.promo__button{
    display: block;
    padding: 19px;
    width: 260px;
    font-size: 19px;
}