.text-title{
    font-size: 32px;
    line-height: 38px;
    font-weight: 600;
    position: relative;

    &::before{
        position: absolute;
        content: '';
        background-image: url(/img/Line.svg);
        background-size: 50px;
        height: 4px;
        width: 85px;
        top: 42px;
    }
}