@font-face{
    font-family: "OpanSans-regular";
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    src: url(../../fonts/OpenSans-Regular.ttf);
}
@font-face{
    font-family: "OpanSans-semibold";
    font-weight: bold;
    font-style: normal;
    font-display: swap;
    src: url(../../fonts/OpenSans-SemiBold.ttf);
}
@font-face{
    font-family: "OpanSans-bold";
    font-weight: bold;
    font-style: normal;
    font-display: swap;
    src: url(../../fonts/OpenSans-Bold.ttf);
}