//colors
$orenge-color: #ffd347;
$bg-color-greey: #efefef;
$blue-color: #769fd6;
$bg-color-lite: #f3f3f3;

//Viewports
$mobile-width:320px;
$tablet-width: 768px;
$desktop-width: 1440px;

//fonts
$default-font: "OpanSans-regular", "Arial", sans-serif;
$bold-font:  "OpanSans-bold", "Arial", sans-serif;
$semibold-font: "OpanSans-semibold", "Arial", sans-serif;