@font-face {
  font-family: "OpanSans-regular";
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url(../../fonts/OpenSans-Regular.ttf);
}

@font-face {
  font-family: "OpanSans-semibold";
  font-weight: bold;
  font-style: normal;
  font-display: swap;
  src: url(../../fonts/OpenSans-SemiBold.ttf);
}

@font-face {
  font-family: "OpanSans-bold";
  font-weight: bold;
  font-style: normal;
  font-display: swap;
  src: url(../../fonts/OpenSans-Bold.ttf);
}

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  padding: 0;
  list-style: none;
}

h1 {
  padding: 0;
  margin: 0;
}

p {
  padding: 0;
  margin: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page {
  font-family: "OpanSans-regular", "Arial", sans-serif;
  background-color: #f3f3f3;
}

.page__body {
  margin: 0;
}

.page__main {
  width: 100%;
}

.text-title {
  font-family: "OpanSans-bold", "Arial", sans-serif;
  font-size: 42px;
  line-height: 14px;
}

.conteiner {
  width: 1000px;
  margin: 0 auto;
}

@media (max-width: 1180px) {
  .conteiner {
    width: 90%;
  }
}

@media (max-width: 767px) {
  .conteiner {
    width: 95%;
  }
}

.page-header {
  padding: 15px 0;
}

.page-header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.page-header__logo img {
  height: 52px;
}

.main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-nav__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: start;
  padding: 0 45px 0 0;
}

.main-nav__phone {
  font-family: "OpanSans-bold", "Arial", sans-serif;
  text-decoration: none;
  color: black;
  font-size: 24px;
}

.main-nav__time {
  opacity: 0.6;
  font-size: 16px;
  line-height: 18px;
}

.main-nav__feedback {
  padding: 10px 1px 10px 25px;
  position: relative;
}

.main-nav__feedback::after {
  position: absolute;
  content: url(../../img/icon_phone.svg);
  left: 20px;
}

.button {
  width: 180px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 14px;
  font-weight: 700;
  font-family: "OpanSans-bold", "Arial", sans-serif;
  border: none;
  border-radius: 100px;
  text-align: center;
}

.button--orenge {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), color-stop(83.33%, rgba(235, 136, 20, 0.37))), #ffd347;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(235, 136, 20, 0.37) 83.33%), #ffd347;
  -webkit-box-shadow: 0px 3px 1px #ce7915;
          box-shadow: 0px 3px 1px #ce7915;
  color: black;
}

.button:hover {
  opacity: 0.8;
  cursor: pointer;
}

.button:active {
  opacity: 0.5;
}

.promo {
  padding-bottom: 50px;
  background-image: url(/img/promo-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.promo__wrapper {
  padding-top: 100px;
  background-image: url(/img/promo-sofa.png);
  background-repeat: no-repeat;
  background-size: 590px;
  background-position: 400px -45px;
}

@media (max-width: 1180px) {
  .promo__wrapper {
    background-position: center right;
  }
}

@media (max-width: 767px) {
  .promo__wrapper {
    background-size: cover;
    background-position: center;
  }
}

.promo__title {
  font-size: 42px;
  line-height: 45px;
  font-weight: 700;
}

.promo__title--orenge {
  background: url(/img/Line.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: bottom;
}

.promo__text {
  padding: 20px 0px 0px 60px;
  position: relative;
}

.promo__text::after {
  position: absolute;
  content: '';
  background-image: url(/img/Line.svg);
  left: 12px;
  bottom: 8px;
  height: 3px;
  width: 40px;
}

.promo__list {
  padding: 50px 0;
  width: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 767px) {
  .promo__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
  }
}

.promo__item {
  position: relative;
}

.promo__item--gerent {
  padding-left: 70px;
}

.promo__item--gerent::after {
  position: absolute;
  content: '';
  background-image: url(/img/promo-cion-1.png);
  left: 7px;
  top: -24px;
  width: 62px;
  height: 50px;
}

.promo__item--many::after {
  position: absolute;
  content: '';
  background-image: url(/img/promo-cion-2.png);
  left: -65px;
  top: -40px;
  width: 58px;
  height: 70px;
}

.promo__button {
  display: block;
  padding: 19px;
  width: 260px;
  font-size: 19px;
}

.direction {
  padding: 50px 0;
}

.direction__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 767px) {
  .direction__wrapper {
    display: block;
  }
}

.direction__text {
  padding-top: 40px;
  opacity: 0.6;
  font-size: 16px;
  line-height: 18px;
  width: 500px;
}

@media (max-width: 1180px) {
  .direction__text {
    max-width: 400px;
  }
}

@media (max-width: 767px) {
  .direction__text {
    width: 100%;
  }
}

.direction__list {
  padding-top: 140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 600px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 1180px) {
  .direction__list {
    width: 100%;
  }
}

@media (max-width: 767px) {
  .direction__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 470px;
    padding-top: 100px;
  }
}

.direction__item {
  max-width: 150px;
  text-align: center;
  position: relative;
}

.direction__item--car::before {
  position: absolute;
  content: '';
  background-image: url(/img/direction-1.svg);
  background-size: 150px;
  top: -110px;
  right: -9px;
  width: 150px;
  height: 150px;
  background-repeat: no-repeat;
}

.direction__item--contact::before {
  position: absolute;
  content: '';
  background-image: url(/img/direction-2.svg);
  background-size: 87px;
  top: -100px;
  right: -28px;
  width: 100%;
  height: 150px;
  background-repeat: no-repeat;
}

.direction__item--master::before {
  position: absolute;
  content: '';
  background-image: url(/img/direction-3.svg);
  background-size: 87px;
  top: -100px;
  right: -28px;
  width: 100%;
  height: 150px;
  background-repeat: no-repeat;
}

@media (max-width: 767px) {
  .direction__form {
    display: none;
  }
}

.text-title {
  font-size: 32px;
  line-height: 38px;
  font-weight: 600;
  position: relative;
}

.text-title::before {
  position: absolute;
  content: '';
  background-image: url(/img/Line.svg);
  background-size: 50px;
  height: 4px;
  width: 85px;
  top: 42px;
}

.form-feedback {
  width: 260px;
  background-color: #ffffff;
  border-radius: 10px;
  -webkit-filter: drop-shadow(0px 0px 6px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 0px 6px rgba(0, 0, 0, 0.25));
}

.form-feedback__wrapper {
  width: 180px;
  margin: 0 auto;
  text-align: center;
}

.form-feedback__title {
  padding-top: 40px;
  font-size: 23px;
}

.form-feedback__text {
  opacity: 0.6;
  font-size: 16px;
  line-height: 18px;
  margin-top: 12px;
}

.form-feedback__button {
  margin: 22px 0;
  padding: 17px;
  width: 190px;
}

.input-form {
  background-color: #efefef;
  margin-top: 15px;
  border: 0;
  border-radius: 100px;
  height: 46px;
  padding: 0 0 0  24px;
}

.services {
  padding: 50px 0;
}

.services__wrapper {
  background-image: url(/img/services-bg.png);
  background-repeat: no-repeat;
  background-position: center right;
  background-size: 400px;
}

@media (max-width: 767px) {
  .services__wrapper {
    background-image: none;
  }
}

.services__list {
  padding-top: 40px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  max-width: 600px;
}

@media (max-width: 767px) {
  .services__list {
    grid-auto-rows: auto;
  }
}

.services__item {
  background-color: #ffffff;
  border-radius: 10px;
  -webkit-filter: drop-shadow(0px 0px 6px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 0px 6px rgba(0, 0, 0, 0.25));
  padding: 20px 20px 20px 90px;
  color: #818181;
  font-size: 12px;
  position: relative;
}

.services__item--material::before {
  position: absolute;
  content: "";
  background-image: url(/img/services1.png);
  background-repeat: no-repeat;
  width: 60px;
  height: 91px;
  top: 25px;
  right: 216px;
  background-size: 57px;
}

.services__item--car::before {
  position: absolute;
  content: "";
  background-image: url(/img/services2.png);
  background-repeat: no-repeat;
  width: 60px;
  height: 91px;
  top: 25px;
  right: 216px;
  background-size: 57px;
}

.services__item--price::before {
  position: absolute;
  content: "";
  background-image: url(/img/promo-cion-2.png);
  background-repeat: no-repeat;
  width: 60px;
  height: 91px;
  top: 7px;
  right: 216px;
  background-size: 57px;
}

.services__item--time::before {
  position: absolute;
  content: "";
  background-image: url(/img/services4.png);
  background-repeat: no-repeat;
  width: 60px;
  height: 79px;
  top: 14px;
  right: 212px;
  background-size: 50px;
}

.services__item-title {
  color: black;
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 6px;
}

.performance {
  padding: 50px 0;
}

.performance__wrapper {
  background-image: url(/img/perfomance-line.svg);
  background-repeat: no-repeat;
  background-position: 160px 145px;
  background-size: 700px;
}

@media (max-width: 767px) {
  .performance__wrapper {
    background-image: none;
  }
}

.performance__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 160px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: center;
  font-weight: 600;
}

@media (max-width: 767px) {
  .performance__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 900px;
    padding-top: 100px;
  }
}

.performance__item {
  position: relative;
}

.performance__item--01::after {
  content: "";
  position: absolute;
  background-image: url(/img/01service.svg);
  background-repeat: no-repeat;
  background-size: 26px;
  width: 26px;
  height: 26px;
  top: -121px;
  right: 77px;
}

.performance__item--01::before {
  content: "";
  position: absolute;
  background-image: url(/img/direction-3.svg);
  background-repeat: no-repeat;
  background-size: 100px;
  width: 100px;
  height: 100px;
  top: -122px;
  right: -22px;
}

.performance__item--02::after {
  content: "";
  position: absolute;
  background-image: url(/img/02service.svg);
  background-repeat: no-repeat;
  background-size: 26px;
  width: 26px;
  height: 26px;
  top: -121px;
  right: 92px;
}

.performance__item--02::before {
  content: "";
  position: absolute;
  background-image: url(/img/direction-2.svg);
  background-repeat: no-repeat;
  background-size: 100px;
  width: 100px;
  height: 100px;
  top: -122px;
  right: -6px;
}

.performance__item--03::after {
  content: "";
  position: absolute;
  background-image: url(/img/03service.svg);
  background-repeat: no-repeat;
  background-size: 26px;
  width: 26px;
  height: 26px;
  top: -121px;
  right: 105px;
}

.performance__item--03::before {
  content: "";
  position: absolute;
  background-image: url(/img/perfomance3.svg);
  background-repeat: no-repeat;
  background-size: 100px;
  width: 100px;
  height: 100px;
  top: -122px;
  right: 3px;
}

.performance__item--04::after {
  content: "";
  position: absolute;
  background-image: url(/img/04service.svg);
  background-repeat: no-repeat;
  background-size: 26px;
  width: 26px;
  height: 26px;
  top: -121px;
  right: 89px;
}

.performance__item--04::before {
  content: "";
  position: absolute;
  background-image: url(/img/direction-1.svg);
  background-repeat: no-repeat;
  background-size: 182px;
  width: 182px;
  height: 182px;
  top: -132px;
  right: -56px;
}

.performance__button {
  display: block;
  margin: 50px auto;
  padding: 19px;
  width: 260px;
  font-size: 19px;
}

.dillers {
  padding: 50px 0;
}

.dillers__title {
  margin-bottom: 40px;
  display: block;
}

.dillers-info__wrapper {
  width: 180px;
  margin: 0 auto;
  padding: 30px 0;
}

.dillers-info__list {
  margin: 0;
  padding: 0;
}

.dillers-info__title {
  text-align: start;
  font-size: 19px;
  font-weight: bold;
  margin-bottom: 10px;
  line-height: 28px;
}

.dillers-info__item {
  font-size: 16px;
  text-align: start;
  font-weight: bold;
  padding: 0 0 20px 0;
}

.dillers-info__item:last-child {
  padding: 0;
}

.text--greey {
  color: #818181;
  font-size: 12px;
}
/*# sourceMappingURL=style.css.map */